    body {
        scroll-behavior: smooth;
        font-family: Helvetica;
    }
    
    .main-section {
        background-color: #F1F3FF;
    }
    /* Navigasi Bar */
    
    .nav-link {
        color: black;
    }
    
    .list-fitur {
        display: flex;
        align-items: center;
    }
    
    .nav-item {
        margin-left: 32px;
    }
    
    .navigasi-bar {
        display: flex;
        justify-content: space-between;
        margin-left: 136px;
        margin-right: 136px;
        padding-top: 10px;
    }
    /* Main Page */
    
    .main-page {
        display: flex;
    }
    
    .sewa-mobil {
        margin-left: 136px;
    }
    
    .sewa-mobil h1 {
        height: 60px;
        width: 468px;
        margin-top: 177px;
        font-size: 36;
    }
    
    .btn-success {
        background-color: #5CB85F;
    }
    /* Our Services */
    
    .our-services {
        display: flex;
        margin-left: 206px;
        justify-content: space-between;
    }
    
    .gambar-service {
        margin-top: 104px;
    }
    
    .sewa-mobil p {
        margin-top: 124px;
    }
    
    .gambar-mobil {
        /* position: absolute; */
        width: 704px;
        height: 407px;
        margin-top: 97px;
        margin-left: 32px;
    }
    
    .deskripsi {
        width: 468px;
        height: 356px;
        margin-left: 86px;
        margin-top: 136px;
    }
    
    .services {
        display: flex;
        justify-content: flex-start;
    }
    
    .services p {
        margin-left: 16px;
    }
    
    .services img {
        width: 24px;
        height: 24px;
    }
    /* Why Us */
    
    .why-us {
        width: 1168px;
        height: 308px;
        margin-top: 100px;
        margin-left: 136px;
    }
    
    .card-body {
        /* align-items: ; */
    }
    /* Testimonial */
    
    .judul-testimonial {
        text-align: center;
    }
    
    .item {
        background-color: #F1F3FF;
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .gambar {
        height: 100px;
        width: 100px;
    }
    
    .text img {
        /* width: 89px; */
        height: 16px;
        width: 80px;
        align-items: flex-start;
    }
    
    .text p {
        margin-left: 42px;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }
    /* Get-Start-section */
    
    .start-section {
        background: #0D28A6;
        border-radius: 13px;
        height: 326px;
        align-items: center;
        margin-top: 156px;
        color: #FFFF;
        text-align: center;
        padding: 70px;
    }
    /* Frequelty Answer Question */
    
    .forum-answer-question {
        justify-content: space-between;
        display: flex;
        margin-top: 100px;
    }
    
    .akordion {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 668px;
        height: 344px;
        margin-left: 132px;
    }
    
    .accordion-item {
        width: 668px;
        margin-bottom: 16px;
    }
    /* Footer */
    
    .footer {
        display: flex;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        justify-content: space-between;
        margin-top: 150px;
    }
    /* .list-medsos {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    } */
    
    .list-medsos {
        display: flex;
    }
    
    .medsos {
        margin-right: 16px;
    }